<!DOCTYPE html>
<html>
    <head>
        <!-- Meta -->
        <!-- Meta -->

        <title><%= title %></title>

        <!-- Styles -->
        <link rel='stylesheet' href='/css/style.css' />
        <!-- Styles -->

        <!-- Preloaded Scripts -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="/vendor/phaser.js"      ></script>
        <script src="/vendor/require.js"     ></script>
        <!-- Preloaded Scripts -->
    </head>
    <body>
        <!-- Header Area -->
        <!-- Header Area -->

        <!-- View Interpolation -->
        <canvas id="render-area"></canvas>
        <!-- View Interpolation -->

        <!-- Footer Area -->
        <!-- Footer Area -->

        <!-- WebSocket Scripts -->
        <script src="/js/SocketClient.js"></script>
        <!-- WebSocket Scripts -->

        <!-- Phaser Scripts -->
        <script src="/js/game/phases/preload.js"></script>
        <script src="/js/game/phases/create.js" ></script>
        <script src="/js/game/phases/update.js" ></script>
        <script src="/js/game/mainState.js"     ></script>
        <script src="/js/gameManager.js"        ></script>
        <!-- Phaser Scripts -->
    </body>
</html>
